#ignore all CPython files
*.pyc

#ignore all files in data folder
data/

#ignore all maps
static/maps
static/thumbnails

#ignore all outside libraries
static/js_libraries
static/node_modules

#ignore test files
test.py
