/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of reset block */

* {
    box-sizing: border-box;
}

body {
    --color-background: white;
    --color-map-background: #eef;
    --color-border: #ddd;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-primary: #222;
    --color-secondary: #555;
    --color-tertiary: #888;
    --color-accent: dodgerblue;
    --color-accent-light: hsl(210deg, 100%, 66%);
}

body.dark {
    --color-background: black;
    --color-map-background: #112;
    --color-border: #333;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-primary: rgba(255, 255, 255, 1);
    --color-secondary: #aaa;
    --color-tertiary: #888;
    --color-accent: dodgerblue;
    --color-accent-light: hsl(210deg, 100%, 70%); /* light dodger blue */
}

body {
    padding: 0;
    margin: 0;
    color: var(--color-primary);
    font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
}

/* ICONS */

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-right: 0.5em;
}
.icon.difficulty-green {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Ccircle cx='10' cy='10' r='8' fill='green'/%3E%3C/svg%3E");
}

.icon.difficulty-blue {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Crect x='2' y='2' width='16' height='16' rx='1' ry='1' fill='royalblue'/%3E%3C/svg%3E");
}

.icon.difficulty-black {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M10,0L20,10L10,20L0,10Z' fill='black' stroke='white' stroke-width='2' /%3E%3C/svg%3E");
}

.dark .icon.difficulty-black {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M10,3L17,10L10,17L3,10Z' fill='black' stroke='white' stroke-width='2' /%3E%3C/svg%3E");
}

.icon.difficulty-red {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='m5,19l5,-9l-5,-9l-5,9l5,9z' fill='red' /%3E%3C/svg%3E"), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='m15,1l5,9l-5,9l-5,-9l5,-9z' fill='red'/%3E%3C/svg%3E");
}

.icon.difficulty-yellow {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='m15,1l5,9l-5,9l-5,-9l5,-9z' fill='gold' /%3E%3C/svg%3E"), url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='m5,19l5,-9l-5,-9l-5,9l5,9z' fill='gold'/%3E%3C/svg%3E");
}

.icon.arrow-right {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M10,2L2,10L10,18M2,10L18,10' stroke='black' stroke-width='2' fill='none'/%3E%3C/svg%3E");
}

.icon.gladed{
	background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 15 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpolygon points='6 20 9 20 9 15 14 15 10 9 13 9 9 4 11 4 7.5 0 4 4 6 4 2 9 5 9 1 15 6 15' style='fill:black' /%3E%3C/svg%3E");
}

.icon.ungroomed {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 50 16.7'%3E%3Cpath d='M0 9.74a14.69 14.69 0 017.32-6.21 13.08 13.08 0 019.89.38c3.1 1.46 5.31 3.76 8 5.18A24.48 24.48 0 0034 11.74a17.65 17.65 0 01-9.52-1.25 26.3 26.3 0 01-4.21-2.43 24.33 24.33 0 00-3.89-2.34 11.86 11.86 0 00-4.21-1.09A12.37 12.37 0 007.8 5 18.38 18.38 0 000 9.74m23.5-3.5a17.78 17.78 0 006.79-3.1l.71-.58.83-.56a12.33 12.33 0 011.79-1 9.47 9.47 0 014.15-1 9.73 9.73 0 014.09 1.12 17.58 17.58 0 013.26 2.36c1 .83 1.88 1.71 2.88 2.42a7.47 7.47 0 003.5 1.34 6.44 6.44 0 01-3.94-.49 26.8 26.8 0 01-3.38-2A21.9 21.9 0 0041 2.82 8 8 0 0037.71 2a7.78 7.78 0 00-3.33.63 11.83 11.83 0 00-1.6.78l-1.63 1a12.76 12.76 0 01-7.65 1.8' fill='black' stroke='black' stroke-width='3' /%3E%3C/svg%3E");
}

/*<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 51.5 11.91" aria-hidden="true" class="Trails_trailIcon__GL61C"><path d="M0 9.74a14.69 14.69 0 017.32-6.21 13.08 13.08 0 019.89.38c3.1 1.46 5.31 3.76 8 5.18A24.48 24.48 0 0034 11.74a17.65 17.65 0 01-9.52-1.25 26.3 26.3 0 01-4.21-2.43 24.33 24.33 0 00-3.89-2.34 11.86 11.86 0 00-4.21-1.09A12.37 12.37 0 007.8 5 18.38 18.38 0 000 9.74m23.5-3.5a17.78 17.78 0 006.79-3.1l.71-.58.83-.56a12.33 12.33 0 011.79-1 9.47 9.47 0 014.15-1 9.73 9.73 0 014.09 1.12 17.58 17.58 0 013.26 2.36c1 .83 1.88 1.71 2.88 2.42a7.47 7.47 0 003.5 1.34 6.44 6.44 0 01-3.94-.49 26.8 26.8 0 01-3.38-2A21.9 21.9 0 0041 2.82 8 8 0 0037.71 2a7.78 7.78 0 00-3.33.63 11.83 11.83 0 00-1.6.78l-1.63 1a12.76 12.76 0 01-7.65 1.8" fill-rule="evenodd"></path></svg>*/