main {
    --center-width: 100%;
    pointer-events: none;
    margin: 0;
    padding: 0;
    gap: 0;
}

main > * {
    pointer-events: all;
}

#content > * {
    margin-bottom: 0;
}

#map {
    position: fixed;
    top: 59px;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
}

h3 {
    font-size: 1.5rem;

}

footer {
    position: fixed;
}

.leaflet-popup-content p {
    margin: 0;
    margin-top: .2rem;
    font-size: 1rem;
    color: var(--color-primary);
}

.icon {
    margin: 0;
    margin-left: .5rem;
}

.legend {
    padding: 6px 8px;
    background: white;
    line-height: 24px;
}

.legend h4 {
    text-align: center;
    font-size: 1.5rem;
    margin: 2px 12px 8px;
}

.legend span {
    text-align: left;
    bottom: 3px;
    font-size: 1.2rem;
}

.legend i {
    width: 1.2rem;
    height: 1.2rem;
    float: left;
    margin: 0 8px 0 0;
}

.legend i.icon {
    background-size: 1.2rem;
    background-color: rgba(255, 255, 255, 1);
}

.mountain-icon {
    font-size: .8rem;
    font-weight: bold;
    white-space: nowrap;
}

.pass-icon {
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
    margin-top: .5rem;
}

.legend-mobile ul li {
    color: var(--color-primary);
    font-weight: bold;
}

.legend-mobile ul {
    display: grid;
    gap: 4px;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    list-style: none;
    padding: 0;
    margin: 0;
}

.legend-mobile {
    padding: 12px;
}

@media screen and (max-width: 650px) {
    .legend {
        display: none;
    }

    #map {
        top: 124px;
    }
}

@media screen and (max-width: 406px) {
    #map {
        top: 146px;
    }
}

@media screen and (max-width: 277px) {
    #map {
        top: 191px;
    }
}