footer {
    position: fixed;
}

#content {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.hero-text {
    font-size: 1.25rem;
}

.hero-text > * {
    margin-bottom: 32px;
}

.hero-text h1 {
    font-size: 2.25rem;
}

.hero-text p {
    line-height: 1.5em;
    max-width: 65ch;
}

em {
    font-weight: bold;
}

img {
    max-width: 100%;
}

.hero-links .button {
    padding-bottom: 16px;
}

@media screen and (max-width: 1116px) {
    .hero-links > * {
        width: fit-content;
        line-height: 1;
    }
}

@media screen and (max-width: 650px) {
    .hero-links > * {
        text-align: center;
        width: 100%;
    }

    main {
        margin: 0;
        padding: 0;
    }

    #content > * {
        margin: 0;
    }
}