.route-line-soft {
    filter: blur(4px);
}

#map {
    position: fixed;
    top: 76px;
    left: 432px;
    right: 16px;
    bottom: 16px;
    z-index: -1;
}

h3 {
    font-size: 1.5rem;
}

.leaflet-popup-content p {
    margin: 0;
    margin-top: .2rem;
    font-size: 1rem;
    color: var(--color-primary);
}

.leaflet-popup-content .icon {
    margin: 0;
    margin-left: .5rem;
}

.legend {
    padding: 6px 8px;
    background: white;
    line-height: 20px;
}

.legend span {
    text-align: left;
    bottom: 3px;
    font-size: 1.2rem;
}

.legend i {
    width: 1.2rem;
    height: 1.2rem;
    float: left;
    margin: 0 8px 0 0;
}

.legend i.icon {
    background-size: 1rem;
    background-color: rgba(255, 255, 255, 1);
}

.map-button {
    position: absolute;
    left: 426px;
    top: 38px;
    font-size: 1.2rem;
}

.legend-hover {
    display: none;
}

#selectionText {
    font-size: .8rem;
    font-weight: bold;
}

.leaflet-top {
    margin-top: 44px;
}

.heightgraph-svg-title {
    font-size: 1.2rem;
}

.basemap-toggle-btn {
    background-color: white;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    background-clip: padding-box;
}

.basemap-toggle-btn:hover {
    background-color: #f4f4f4;
}

.basemap-toggle-btn:active {
    background-color: #ddd;
}

.leaflet-control-basemaptoggle {
    order: -1; /* This puts it at the top */
}

@media screen and (max-width: 950px) {
    #map {
        top: 59px;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .heightgraph-container {
        z-index: 1000;
    }
}


@media screen and (max-width: 500px) {
    .legend span {
        font-size: .8rem;
    }

    .legend i {
        width: .8rem;
    }

    .legend i.icon {
        background-size: .8rem;
    }

    #url {
        width: 100%;
    }
}
