#update_tags_submit {
    margin-top: .2rem;
    margin-bottom: .5rem;
}

.map-pane {
    padding: 1rem;
}

.search-form {
    padding-top: 1rem;
}

ul {
    padding-bottom: 1rem;
}

h2 {
    padding-top: 1rem;
}

select {
    height: 32px;
}

input:not([type="checkbox"]) {
    height: 32px;
}
