body {
    background-color: var(--color-background);
}

/* NAV */

nav {
    font-size: 1rem;
    padding: 4px;
    box-shadow: 0 0 4px var(--color-shadow);
    border-bottom: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    line-height: 1.25rem;
}

#home-link {
    color: var(--color-primary);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 16px;
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
}
.nav-list li {
    margin-right: 16px;
}
.nav-list a {
    color: white;
    text-decoration: none;
}

/* COMMON STUFF */

a {
    color: var(--color-accent);
}
a:hover {
    opacity: 0.7;
}

main {
    --center-width: 1200px;

    margin: 0 auto;
    margin-top: 32px;
    padding: 32px;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr minmax(auto, var(--center-width)) 1fr;
    gap: 32px;
}
#title {
    grid-column: 2;
    grid-row: 1;
}
#content {
    grid-column: 2;
    grid-row: 2;
}
#content > * {
    margin-bottom: 48px;
}
#sidebar {
    grid-column: 1;
    grid-row: 2
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.75rem;
}

p.detail {
    font-size: 1.2rem;
    color: var(--color-secondary);
    min-width: 200px;
    max-width: 80ch;
}
p.copy {
    font-size: 1.2rem;
    color: var(--color-tertiary);
}

.nav-list .button {
    white-space: nowrap;
}

.button-cta {
    display: inline-block;
    padding: 8px;
    background-color: var(--color-accent);
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}
.button-cta:hover {
    opacity: 1;
    color: white;
    background-color: var(--color-accent-light);
}

.button-cta2 {
    display: inline-block;
    padding: 8px;
    background-color: var(--color-tertiary);
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}

.button-cta2:hover {
    opacity: 1;
    color: white;
    background-color: var(--color-accent-light);
}

@media screen and (max-width: 680px) {
    .nav-list {
        padding-top: 8px;
        float: none;
        display: block;
        text-align: left;
    }

    #home-link {
        margin-right: 16px;
    }

    .button {
        padding-bottom: 8px;
        line-height: .9rem;
    }

    .button-cta {
        width: 100%;
    }

    .button-cta2 {
        width: 100%;
    }
}