body {
    background-color: var(--color-background);
}

/* NAV */

nav {
    font-size: 1rem;
    padding: 4px;
    box-shadow: 0 0 4px var(--color-shadow);
    border-bottom: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    line-height: 1.25rem;
    background-color: var(--color-background);
}

footer {
    bottom:0;
    width:100%;
    font-size: 1rem;
    padding: 4px;
    padding-bottom: 12px;
    box-shadow: 0 0 4px var(--color-shadow);
    border-bottom: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    line-height: 1.25rem;
    background-color: var(--color-border);
}

.bottom-bar {
    width: 100%;
}

.footer-list {
    float: right;
    display: flex;
    margin-top: 8px;
}

.footer-list li {
    margin-right: 16px;
}
.footer-list a {
    color: white;
    text-decoration: none;
}

.home-div {
    float: left;
}

#home-link {
    color: var(--color-primary);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 16px;
    display: flex;
    align-items: center;
    margin-left: 7px;
}

#home-link img{
    padding:6px;
}

.nav-list {
    display: flex;
    margin-top: 8px;
}
.nav-list li {
    margin-right: 16px;
}
.nav-list a {
    color: white;
    text-decoration: none;
}

.nav-list .button {
    white-space: nowrap;
}

.hamburger {
    display: none;
}

/* COMMON STUFF */

a {
    color: var(--color-accent);
}
a:hover {
    opacity: 0.7;
}

main {
    --center-width: 1200px;

    margin: 0 auto;
    margin-top: 32px;
    padding: 32px;
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 1fr minmax(auto, var(--center-width)) 1fr;
    gap: 32px;
}
#title {
    grid-column: 2;
    grid-row: 1;
}
#content {
    grid-column: 2;
    grid-row: 2;
}
#content > * {
    margin-bottom: 48px;
}
#sidebar {
    grid-column: 1;
    grid-row: 2
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.75rem;
}

p.detail {
    font-size: 1.2rem;
    color: var(--color-primary);
    min-width: 200px;
    max-width: 80ch;
}
p.copy {
    font-size: 1.2rem;
    color: var(--color-tertiary);
}

.button-cta {
    display: inline-block;
    padding: 6px;
    background-color: var(--color-accent);
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-accent-dark);
}
.button-cta:hover {
    opacity: 1;
    color: white;
    background-color: var(--color-accent-light);
}

.button-cta2 {
    display: inline-block;
    padding: 6px;
    background-color: var(--color-tertiary);
    color: white;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-secondary);
}

.button-cta2:hover {
    opacity: 1;
    color: white;
    background-color: var(--color-accent-light);
}


@media screen and (max-width: 1116px) {
    nav {
        z-index: 9;
        background-color: var(--color-background);
        padding: 0;
        padding-top: 4px;
    }
    #home-link {
        margin-right: 16px;
        margin-left: 10px;
    }

    .top-bar {
        display: grid;
        width: 100%;
        z-index: 10;
        background-color: var(--color-background);
    }

    nav .nav-div {
        width: 100%;
        display: none;
    }

    .home-div {
        display: flex;
        justify-content: space-between;
        padding-bottom: 4px;
    }

    .hamburger {
        display: block;
        right: 0;
        top: 0;
        padding-top: 13px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .nav-list {
        float: none;
        display: block;
        text-align: center;
        padding-bottom: 8px;
    }

    .nav-list li {
        margin-left: 16px;
    }

    footer {
        padding-bottom: 4px;
    }

    .button {
        padding-bottom: 8px;
        line-height: .9rem;
    }

    .button-cta {
        width: 100%;
    }

    .button-cta2 {
        width: 100%;
    }
}