body {
  background-color: var(--color-background);
}

/* NAV */

nav {
  height: 64px;
  font-size: 16px;
  padding: 16px;
  box-shadow: 0 0 4px var(--color-shadow);
  border-bottom: 1px solid var(--color-border);
  display: flex;
  align-items: center;
}

#home-link {
  color: var(--color-primary);
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 32px;
  display: flex;
  align-items: center;
}
#home-link img {
  margin-right: 16px;
}

.nav-list {
  display: flex;
}
.nav-list li:not(:last-child) {
  margin-right: 16px;
}
.nav-list a {
  color: var(--color-primary);
  text-decoration: none;
}
.nav-list a.active {
  color: var(--color-accent);
}

/* COMMON STUFF */

a {
  color: var(--color-accent);
}
a:hover {
  opacity: 0.7;
}

main {
  --center-width: 1200px;

  margin: 0 auto;
  margin-top: 32px;
  padding: 32px;
  display: grid;
  grid-template-rows: min-content 1fr;
  grid-template-columns: 1fr var(--center-width) 1fr;
  gap: 32px;
}
#title {
  grid-column: 2;
  grid-row: 1;
}
#content {
  grid-column: 2;
  grid-row: 2;
}
#content > * {
  margin-bottom: 48px;
}
#sidebar {
  grid-column: 1;
  grid-row: 2
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 28px;
}

p.detail {
  font-size: 18px;
  color: var(--color-secondary);
  max-width: 900px;
}
p.copy {
  font-size: 20px;
  color: var(--color-tertiary);
}