main {
    --center-width: 900px;
}

#content {
    grid-row: 1;
}

.ranking-sort {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-transform: uppercase;
}

.ranking-sort > * {
    margin-right: 16px;
}

.ranking-sort a {
    text-decoration: none;
    color: var(--color-primary);
}

.ranking-sort a.active {
    color: var(--color-accent);
}

.ranking-sort .button-cta {
    color: white;
    width: 100%;
}

.ranking-sort .button-cta2 {
    color: white;
    width: 100%;
}

.legend ul li {
    white-space: nowrap;
    display: inline;
    margin-top: 8px;
    margin-right: 32px;
    color: var(--color-primary);
}

.rankings {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-auto-rows: 28px;
    row-gap: 6px;
    column-gap: 64px;
    align-items: center;
    justify-items: left;
}
.rankings a,p {
    color: var(--color-primary);
    font-size: 1.2rem;
}
.rankings .ranking-bar {
    width: var(--bar-size);
    background-color: var(--bar-color);
    border-radius: 4px;
    height: 28px;
    display: inline-block;
    font-size: .9rem;
    color:white
}
.rankings .black-text {
    width: var(--bar-size);
    background-color: var(--bar-color);
    border-radius: 4px;
    height: 28px;
    display: inline-block;
    font-size: .9rem;
    color:black
}

.rankings .bar-div {
    width: 100%;
}

.links {
    display: flex;
    align-items: center;
}

select {
    width: 222px;
    height: 37px;
    font-size: 1.1rem;
    border-width: 2px;
    border-radius: 4px;
    border-color: var(--color-secondary);
}

.pass-icon {
    width: 18px;
    height: 18px;
}

#submit {
    font-size: 1.1rem;
    margin-left: 8px;
}

@media screen and (max-width: 950px) {
    #submit {
        width: auto;
    }
}

@media screen and (max-width: 700px) {
    #content > * {
        margin-bottom: 36px;
    }

    h1 {
        padding-top: 32px;
    }

    .rankings {
        grid-template-columns: max-content;
        display: block;
        line-height: 1.7rem;
    }

    main {
        padding: 0px;
        margin-top: 0px;
    }

    .ranking-sort {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        line-height: 1;
        row-gap: 8px;
        column-gap: 16px;
    }

    .ranking-sort > * {
        margin-right: 0;
        height: 100%;
    }

    .ranking-sort .button-cta {
        height: 100%;
    }

    .ranking-sort .button-cta2 {
        height: 100%;
    }

    .legend ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 375px) {
    #submit {
        margin-top: 8px;
        margin-left: 0;
        width: 100%;
    }

    select {
        width: 100%;
    }
}

@media screen and (max-width: 350px) {
    .ranking-sort {
        grid-template-columns: 1fr;
    }

    .legend ul{
        grid-template-columns: 1fr;
    }
}