main {
    --center-width: 1600px;
}

#content {
    grid-row: 1;
}

.ranking-sort {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 1.1rem;
    text-transform: uppercase;
}

.ranking-sort > * {
    margin-right: 16px;
}

.ranking-sort a {
    text-decoration: none;
    color: var(--color-primary);
}

.ranking-sort a.active {
    color: var(--color-accent);
}

.ranking-sort .button-cta {
    color: white;
    width: 100%;
    max-width: 150px;
}

.ranking-sort .button-cta2 {
    color: white;
    width: 100%;
    max-width: 150px;
}

.legend ul li {
    white-space: nowrap;
    display: inline;
    margin-top: 8px;
    margin-right: 30px;
    color: var(--color-secondary);
}

.links {
    display: flex;
    flex-direction: row;
}

.column-left {
    padding-right: 1rem;
}

table {
    font-size: 1.25rem;
}

table a {
    color: var(--color-primary);
}

th, td {
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    border-right: 2px solid var(--color-primary);
}

th {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    border-bottom: 2px solid var(--color-primary);
}

th:last-child, td:last-child {
    border-right: none;
}

tr:nth-child(even) {
    background-color: rgb(243, 242, 242);
}

tr a.active {
    color: var(--color-accent);
}

@media screen and (min-width: 901px) {
    .mobile {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    h1 {
        padding-top: 32px;
    }

    .desktop {
        display: none;
    }

    main {
        padding: 8px;
        margin-top: 0px;
    }

    .ranking-sort {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .ranking-sort > * {
        margin-bottom: 8px;
    }

    .legend ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .mobile table {
        width: 100%;
    }

    .mobile ul {
        padding-bottom: 32px;
    }

    .header {
        font-size: 1.5rem;
        font-weight: 600;
        padding-top: 16px;
    }
  }

@media screen and (max-width: 350px) {
    .ranking-sort {
        grid-template-columns: 1fr;
    }

    .legend ul{
        grid-template-columns: 1fr;
    }
}