main {
    --center-width: 1500px;
}

.ranking-sort {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.ranking-sort > *:not(:last-child) {
  margin-right: 32px;
}
.ranking-sort a {
  text-decoration: none;
  color: var(--color-primary);
}
.ranking-sort a.active {
  color: var(--color-accent);
}

.legend ul li {
  white-space: nowrap;
  display: inline;
  margin-top: 8px;
  margin-right: 30px;
  color: var(--color-secondary);
}

.links {
    display: flex;
    align-items: center;
  }

table {
    font-size: 1.25rem;
}

table a {
    color: var(--color-primary);
}

th, td {
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    border-right: 2px solid var(--color-primary);
}

th {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: left;
    border-bottom: 2px solid var(--color-primary);
}

th:last-child, td:last-child {
    border-right: none;
}

tr:nth-child(even) {
    background-color: rgb(243, 242, 242);
}

tr a.active {
    color: var(--color-accent);
  }