<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link href="/base.css" rel="stylesheet" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8094814637317197"
     crossorigin="anonymous"></script>
    {% block head %}

    {% endblock %}
</head>

<body>
    {% block body %}

    {% endblock %}

    <script src="/theme.js"></script>

    {% block postbody %}

    {% endblock postbody %}
</body>

</html>