{% extends "page_base.jinja" %}

{% block title %}
Steep Seeker - Universal Ski Trail Rating System
{% endblock title %}

{% block pagehead %}
<link href="/index.css" rel="stylesheet" />
{% endblock pagehead %}

{% block content %}
<section id="content">
    <div class="hero-image">
        <a href="/search">
            <img alt="Example Map - Brighton Ski Resort" src="/thumbnails/UT/Brighton.svg" width="400" height="251.35" />
        </a>
    </div>
    <div class="hero-text">
        <h1><em>Steep Seeker:</em> Universal Ski Trail Ratings</h1>
        <div class="hero-links">
            <div class="button">
                <a href="/search" class="button-cta">Browse Mountains</a>
            </div>
            <div class="button">
                <a href="/about" class="button-cta2">Learn more</a>
            </div>
        </div>
        <p>
            Steep Seeker provides detailed trail maps using a standardized difficulty
            scale. This means that a blue at one ski area is comparable to another,
            no matter which mountains are being compared.
        </p>

        <p>
            None of the ratings, trail data, or visuals are AI generated. Details about 
            how the ratings are calculated and where all our data comes from can be found
            on the <a href="/about">About</a> page.
        </p>
    </div>
    <br>
    <div id="ezoic-pub-ad-placeholder-101"></div>
    <script>
        ezstandalone.cmd.push(function () {
            ezstandalone.showAds(101);
        });
    </script>
    <script>
        if (typeof navigator.serviceWorker !== 'undefined') {
            navigator.serviceWorker.register('sw.js')
        }
    </script>

</section>
{% endblock content %}