{% extends "page_base.jinja" %}

{% block title %}
Lift Rankings
{% endblock title %}

{% block pagehead %}
<link href="/trail_rankings.css" rel="stylesheet" />
{% endblock pagehead %}

{% block content %}
<section id="content">

    <h1>Lift Rankings</h1>

    <ul class="ranking-sort">
        {% if region == "usa" %}
        <li><a class="button-cta">USA</a></li>
        <li><a class="button-cta2" href="/lift-rankings?region=northeast">Northeast</a>
        </li>
        <li><a class="button-cta2" href="/lift-rankings?region=southeast">Southeast</a>
        </li>
        <li><a class="button-cta2" href="/lift-rankings?region=midwest">Midwest</a>
        </li>
        <li><a class="button-cta2" href="/lift-rankings?region=west">West</a>
        </li>
        {% endif %}
        {% if region == "northeast" %}
        <li><a class="button-cta2" href="/lift-rankings?region=usa">USA</a>
        </li>
        <li><a class="button-cta">Northeast</a></li>
        <li><a class="button-cta2" href="/lift-rankings?region=southeast">Southeast</a>
        </li>
        <li><a class="button-cta2" href="/lift-rankings?region=midwest">Midwest</a>
        </li>
        <li><a class="button-cta2" href="/lift-rankings?region=west">West</a>
        </li>
        {% endif %}
        {% if region == "southeast" %}
        <li><a class="button-cta2" href="/lift-rankings?region=usa">USA</a>
        </li>
        <li><a class="button-cta2" href="/lift-rankings?region=northeast">Northeast</a>
        </li>
        <li><a class="button-cta">Southeast</a></li>
        <li><a class="button-cta2" href="/lift-rankings?region=midwest">Midwest</a>
        </li>
        <li><a class="button-cta2" href="/lift-rankings?region=west">West</a>
        </li>
        {% endif %}
        {% if region == "midwest" %}
        <li><a class="button-cta2" href="/lift-rankings?region=usa">USA</a>
        </li>
        <li><a class="button-cta2" href="/lift-rankings?region=northeast">Northeast</a>
        </li>
        <li><a class="button-cta2" href="/lift-rankings?region=southeast">Southeast</a>
        </li>
        <li><a class="button-cta">Midwest</a></li>
        <li><a class="button-cta2" href="/lift-rankings?region=west">West</a>
        </li>
        {% endif %}
        {% if region == "west" %}
        <li><a class="button-cta2" href="/lift-rankings?region=usa">USA</a>
        </li>
        <li><a class="button-cta2" href="/lift-rankings?region=northeast">Northeast</a>
        </li>
        <li><a class="button-cta2" href="/lift-rankings?region=southeast">Southeast</a>
        </li>
        <li><a class="button-cta2" href="/lift-rankings?region=midwest">Midwest</a>
        </li>
        <li><a class="button-cta">West</a></li>
        {% endif %}
    </ul>
    <ul class="ranking-sort mobile">
        {% if sort_by == "vertical_rise"%}
        <li><a class="button-cta">Vertical Rise</a></li>
        {% else %}
        <li><a class="button-cta2" href="{{pages.first}}&sort=vertical_rise">Vertical Rise</a></li>
        {% endif %}
        {% if sort_by == "length"%}
        <li><a class="button-cta">Length</a></li>
        {% else %}
        <li><a class="button-cta2" href="{{pages.first}}&sort=length">Length</a></li>
        {% endif %}
        {% if sort_by == "occupancy"%}
        <li><a class="button-cta">Occupancy</a></li>
        {% else %}
        <li><a class="button-cta2" href="{{pages.first}}&sort=occupancy">Occupancy</a></li>
        {% endif %}
    </ul>

    <div class="links">
        {% if 'prev' in pages %}
        <div class="column-left">
            <a class="button-cta2" href="{{pages.prev}}">&#x25C0; Previous Page</a>
        </div>
        {% endif %}

        {% if 'next' in pages %}
        <div class="column-right">
            <a class="button-cta2" href="{{pages.next}}">Next Page &#x25B6;</a>
        </div>
        {% endif %}
    </div>

    <div class="trail-table desktop">
        <table>
            <tr>
                <th>Lift Name</th>
                <th>Resort</th>
                <th>State</th>
                {% if sort_by == "vertical_rise"%}
                <th><a class="active">Vertical Rise</a></th>
                {% else %}
                <th><a href="{{pages.first}}&sort=vertical_rise">Vertical Rise</a></th>
                {% endif %}
                {% if sort_by == "length"%}
                <th><a class="active">Length</a></th>
                {% else %}
                <th><a href="{{pages.first}}&sort=length">Length</a></th>
                {% endif %}
                {% if sort_by == "occupancy"%}
                <th><a class="active">Occupancy</a></th>
                {% else %}
                <th><a href="{{pages.first}}&sort=occupancy">Occupancy</a></th>
                {% endif %}
                {% if sort_by == "bubble"%}
                <th><a class="active">Bubble</a></th>
                {% else %}
                <th><a href="{{pages.first}}&sort=bubble">Bubble</a></th>
                {% endif %}
            {% for lift in lifts %}
            {% if not '' == lift.name %}
            <tr>
                <td>
                    <p>{{pages.offset + loop.index}}. <a href="/map/{{lift.state}}/{{lift.resort_name}}">
                            {{lift.name}}
                        </a></p>
                </td>
                <td><a href="/map/{{lift.state}}/{{lift.resort_name}}">{{lift.resort_name}}</a></td>
                <td>{{lift.state}}</td>
                <td>{{lift.vertical}} ft</td>
                <td>{{lift.length}} ft</td>
                {% if lift.occupancy %}
                    {% if lift.occupancy <= 4 %}
                    <td>
                        {% for i in range(lift.occupancy)%}
                        <span class="icon person"></span>
                        {% endfor %}
                    </td>
                    {% else %}
                    <td class="occupancy">
                        {{lift.occupancy}}<span class="small-spacer"></span><span class="icon person"></span>
                    </td>
                    {% endif%}
                {% else %}
                <td></td>
                {% endif%}
                <td>
                {% if lift.bubble %}
                    Yes
                {% else %}
                    No
                {% endif %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}

        </table>
    </div>

    <div class="trail-table mobile">
        {% for lift in lifts %}
        {% if not '' == lift.name %}
        <div class="header">
            <table class="header">
                <tr>
                    <td>
                        {{pages.offset + loop.index}}. <a href="/map/{{lift.state}}/{{lift.resort_name}}">
                                {{lift.name}}, {{lift.resort_name}} ({{lift.state}})
                            </a>
                    </td>
                </tr>
            </table>
        </div>
        <table>
            <tr>
                <td style="width:50%">Vertical Rise</td>
                <td style="width:50%">
                    {{lift.vertical}} ft
                </td>
            </tr>
            <tr>
                <td>Length</td>
                <td>
                    {{lift.length}} ft
                </td>
            </tr>
            <tr>
                <td>Occupancy</td>
                {% if lift.occupancy %}
                    {% if lift.occupancy <= 4 %}
                    <td>
                        {% for i in range(lift.occupancy)%}
                        <span class="icon person"></span>
                        {% endfor %}
                    </td>
                    {% else %}
                    <td class="occupancy">
                        {{lift.occupancy}}<span class="small-spacer"></span><span class="icon person"></span>
                    </td>
                    {% endif %}
                {% else %}
                <td>--</td>
                {% endif %}
            </tr>
            <tr>
                <td>Bubble</td>
                <td>
                {% if lift.bubble %}
                    Yes
                {% else %}
                    No
                {% endif %}
                </td>
            </tr>
        {% endif%}
        </table>
        {% endfor %}
    </div>

    <div class="links">
        {% if 'prev' in pages %}
        <div class="column-left">
            <a class="button-cta2" href="{{pages.prev}}">&#x25C0; Previous Page</a>
        </div>
        {% endif %}

        {% if 'next' in pages %}
        <div class="column-right">
            <a class="button-cta2" href="{{pages.next}}">Next Page &#x25B6;</a>
        </div>
        {% endif %}
    </div>
</section>
{% endblock content %}