{% extends "page_base.jinja" %}

{% block title %}
Lift Rankings - Compare Chairlifts Across the USA
{% endblock title %}

{% block pagehead %}
<link href="/trail_rankings.css" rel="stylesheet" />
{% endblock pagehead %}

{% block content %}
<section id="content">

    <h1>Lift Rankings</h1>

    <ul class="ranking-sort">
        {% set regions = ["usa", "northeast", "southeast", "midwest", "west"] %}
        {% for r in regions %}
            <li>
                {% if r == region and state == None %}
                    <a class="button-cta">{{ r|capitalize }}</a>
                {% else %}
                    <a class="button-cta2"
                    href="/lift-rankings?region={{ r }}&sort={{ sort_by }}">
                        {{ r|capitalize }}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <form id="search-form" class="search-form" action="/lift-rankings" method="get">
        <select id="state" name="state" required>
            <option value="" disabled {% if not state %}selected{% endif %}>Select State</option>
            {% set states = {
                "AL":"Alabama", "AK":"Alaska", "AZ":"Arizona", "AR":"Arkansas", "CA":"California",
                "CO":"Colorado", "CT":"Connecticut", "DE":"Delaware", "FL":"Florida", "GA":"Georgia",
                "HI":"Hawaii", "ID":"Idaho", "IL":"Illinois", "IN":"Indiana", "IA":"Iowa",
                "KS":"Kansas", "KY":"Kentucky", "LA":"Louisiana", "ME":"Maine", "MD":"Maryland",
                "MA":"Massachusetts", "MI":"Michigan", "MN":"Minnesota", "MS":"Mississippi", "MO":"Missouri",
                "MT":"Montana", "NE":"Nebraska", "NV":"Nevada", "NH":"New Hampshire", "NJ":"New Jersey",
                "NM":"New Mexico", "NY":"New York", "NC":"North Carolina", "ND":"North Dakota", "OH":"Ohio",
                "OK":"Oklahoma", "OR":"Oregon", "PA":"Pennsylvania", "RI":"Rhode Island", "SC":"South Carolina",
                "SD":"South Dakota", "TN":"Tennessee", "TX":"Texas", "UT":"Utah", "VT":"Vermont",
                "VA":"Virginia", "WA":"Washington", "WV":"West Virginia", "WI":"Wisconsin", "WY":"Wyoming"
            } %}
            {% for code, name in states.items() %}
                <option value="{{ code }}" {% if state == code %}selected{% endif %}>{{ name }}</option>
            {% endfor %}
        </select>

        <input type="hidden" name="sort" value="{{ sort_by }}">
        <input class="button-cta" id="submit" type="submit" value="Select" />
    </form>

    <ul class="ranking-sort mobile">
        {% set sorts = {
            "vertical_rise": "Vertical Rise",
            "length": "Length",
            "pitch": "Average Pitch",
            "occupancy": "Occupancy",
            "bubble": "Has Bubble",
        } %}

        {% for key, label in sorts.items() %}
            <li>
                {% if sort_by == key %}
                    <a class="button-cta">{{ label }}</a>
                {% else %}
                    <a class="button-cta2"
                    href="{{ pages.first }}&sort={{ key }}{% if state %}&state={{ state }}{% endif %}">
                        {{ label }}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <p class="detail">
        Filter lifts by region, and sort to find what lifts are the longest, or which lift 
        would be best to lap to get the most vertical if you sort by steepest pitch. 
    </p>

    <div id="ezoic-pub-ad-placeholder-102"></div>

    <div class="links">
        {% if 'prev' in pages %}
        <div class="column-left">
            <a class="button-cta2" href="{{pages.prev}}">&#x25C0; Previous Page</a>
        </div>
        {% endif %}

        {% if 'next' in pages %}
        <div class="column-right">
            <a class="button-cta2" href="{{pages.next}}">Next Page &#x25B6;</a>
        </div>
        {% endif %}
    </div>

    <div class="trail-table desktop">
        <table>
            <tr>
                <th>Lift Name</th>
                <th>Resort</th>
                <th>State</th>
                {% if sort_by == "vertical_rise"%}
                <th><a class="active">Vertical Rise</a></th>
                {% else %}
                <th><a href="{{pages.first}}&sort=vertical_rise">Vertical Rise</a></th>
                {% endif %}
                {% if sort_by == "length"%}
                <th><a class="active">Length</a></th>
                {% else %}
                <th><a href="{{pages.first}}&sort=length">Length</a></th>
                {% endif %}
                {% if sort_by == "pitch"%}
                <th><a class="active">Average Pitch</a></th>
                {% else %}
                <th><a href="{{pages.first}}&sort=pitch">Average Pitch</a></th>
                {% endif %}
                {% if sort_by == "occupancy"%}
                <th><a class="active">Occupancy</a></th>
                {% else %}
                <th><a href="{{pages.first}}&sort=occupancy">Occupancy</a></th>
                {% endif %}
                {% if sort_by == "bubble"%}
                <th><a class="active">Bubble</a></th>
                {% else %}
                <th><a href="{{pages.first}}&sort=bubble">Bubble</a></th>
                {% endif %}
            {% for lift in lifts %}
            {% if not '' == lift.name %}
            <tr>
                <td>
                    <p>{{pages.offset + loop.index}}. <a href="/interactive-map/{{lift.state}}/{{lift.resort_name}}">
                            {{lift.name}}
                        </a></p>
                </td>
                <td><a href="/interactive-map/{{lift.state}}/{{lift.resort_name}}">{{lift.resort_name}}</a></td>
                <td>{{lift.state}}</td>
                <td>{{lift.vertical}} ft</td>
                <td>{{lift.length}} ft</td>
                <td>{{lift.pitch}}°</td>
                {% if lift.occupancy %}
                    {% if lift.occupancy <= 4 %}
                    <td>
                        {% for i in range(lift.occupancy) %}
                        <span class="icon person"></span>
                        {% endfor %}
                    </td>
                    {% else %}
                    <td class="occupancy">
                        {{lift.occupancy}}<span class="small-spacer"></span><span class="icon person"></span>
                    </td>
                    {% endif %}
                {% else %}
                <td></td>
                {% endif%}
                <td>
                {% if lift.bubble %}
                    Yes
                {% else %}
                    No
                {% endif %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}

        </table>
    </div>

    <div class="trail-table mobile">
        {% for lift in lifts %}
        {% if not '' == lift.name %}
        <div class="header">
            <table class="header">
                <tr>
                    <td>
                        {{pages.offset + loop.index}}. <a href="/interactive-map/{{lift.state}}/{{lift.resort_name}}">
                                {{lift.name}}, {{lift.resort_name}} ({{lift.state}})
                            </a>
                    </td>
                </tr>
            </table>
        </div>
        <table>
            {% if sort_by == "vertical_rise"%}
            <tr style="background-color: var(--color-accent-very-light)">
            {% else %}
            <tr>
            {% endif %}
                <td style="width:50%">Vertical Rise</td>
                <td style="width:50%">
                    {{lift.vertical}} ft
                </td>
            </tr>
            {% if sort_by == "length"%}
            <tr style="background-color: var(--color-accent-very-light)">
            {% else %}
            <tr>
            {% endif %}
                <td>Length</td>
                <td>
                    {{lift.length}} ft
                </td>
            </tr>
            {% if sort_by == "pitch"%}
            <tr style="background-color: var(--color-accent-very-light)">
            {% else %}
            <tr>
            {% endif %}
                <td>Average Pitch</td>
                <td>
                    {{lift.pitch}}°
                </td>
            </tr>
            {% if sort_by == "occupancy"%}
            <tr style="background-color: var(--color-accent-very-light)">
            {% else %}
            <tr>
            {% endif %}
                <td>Occupancy</td>
                {% if lift.occupancy %}
                    {% if lift.occupancy <= 4 %}
                    <td>
                        {% for i in range(lift.occupancy)%}
                        <span class="icon person"></span>
                        {% endfor %}
                    </td>
                    {% else %}
                    <td class="occupancy">
                        {{lift.occupancy}}<span class="small-spacer"></span><span class="icon person"></span>
                    </td>
                    {% endif %}
                {% else %}
                <td>--</td>
                {% endif %}
            </tr>
            {% if sort_by == "bubble"%}
            <tr style="background-color: var(--color-accent-very-light)">
            {% else %}
            <tr>
            {% endif %}
                <td>Bubble</td>
                <td>
                {% if lift.bubble %}
                    Yes
                {% else %}
                    No
                {% endif %}
                </td>
            </tr>
        {% endif%}
        </table>
        {% endfor %}
    </div>

    <div class="links">
        {% if 'prev' in pages %}
        <div class="column-left">
            <a class="button-cta2" href="{{pages.prev}}">&#x25C0; Previous Page</a>
        </div>
        {% endif %}

        {% if 'next' in pages %}
        <div class="column-right">
            <a class="button-cta2" href="{{pages.next}}">Next Page &#x25B6;</a>
        </div>
        {% endif %}
    </div>
    <div id="ezoic-pub-ad-placeholder-101"></div>
    <script>
        ezstandalone.cmd.push(function () {
            ezstandalone.showAds(101, 102);
        });
    </script>

</section>
{% endblock content %}