{% extends "management.jinja" %}

{% block title %}
Edit Resort
{% endblock title %}

{% block pagehead %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>

<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

<script type="text/javascript" src="https://cdn.rawgit.com/makinacorpus/Leaflet.GeometryUtil/master/src/leaflet.geometryutil.js">
</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/makinacorpus/Leaflet.AlmostOver@master/src/leaflet.almostover.js">
</script>

<link href="/interactive-map.css" rel="stylesheet" />
<link href="/management-edit-resort.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css" />
<script src="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.js" charset="utf-8"></script>

<script src="https://unpkg.com/leaflet-rotate@0.2.8/dist/leaflet-rotate-src.js"></script>

<script src="/leaflet.textpath.js"></script>

<link rel="stylesheet" href="/node_modules/leaflet.heightgraph/dist/L.Control.Heightgraph.min.css"/>
<script type="text/javascript" src="/node_modules/leaflet.heightgraph/dist/L.Control.Heightgraph.min.js"></script>

<script type="text/javascript" src="/mappings.js"></script>
<script type="text/javascript" src="/interactive-map.js"></script>

{% endblock pagehead %}

{% block insideContent %}
    <form id="search-form" class="search-form">
        <select id="search" name="q" type="search">
            <option value="" disabled selected>Select Resort</option>
            {% for resort in resorts %}
            <option value="{{resort}}">{{resort}}</option>
            {% endfor %}
        </select>
        <input class="button-cta" id="submit" type="submit" value="Search" />
    </form>
    <form id="next_mountain" class="search-form">
        <input type="hidden" name="q" id="q" value="{{next_mountain}}">
        <input class="button-cta" id="next" type="submit" value="Next Resort">
    </form>
    <h2>{{mountain.name}}, {{mountain.state}}</h2>
    <ul>
        <li>Trail Count: {{mountain.trail_count}}</li>
        <li>Lift Count: {{mountain.lift_count}}</li>
        <li>Vertical: {{mountain.vertical}} ft</li>
        <li>Difficulty: {{mountain.difficulty}}</li>
        <li>Beginner Friendliness: {{mountain.beginner_friendliness}}</li>
        <li>Last Updated: {{mountain.last_updated}}</li>
        <li><a href="{{mountain.url}}">{{mountain.url}}</a></li>
    </ul>
    <form id="refresh" class="search-form">
        <ul>
        <li>
            <input type="hidden" name="q" id="q" value="{{mountain.name}}, {{mountain.state}}">
            <input type="checkbox" id="stats" name="stats_refresh" value=True>
            <label for="stats">Stats</label>
        </li>
        <li>
            <input type="checkbox" id="maps" name="map_refresh" value=True>
            <label for="map">Map</label>
        </li>
        <li>
            <input type="checkbox" id="full" name="full_refresh" value=True>
            <label for="full">Full Refresh</label>
        </li>
        <li>
            <input type="checkbox" id="areas" name="ignore_areas" value=True>
            <label for="areas">Ignore Areas</label>
        </li>
        <li>
            <input type="checkbox" id="rotate" name="rotate" value=True>
            <label for="rotate">&#8635; Rotate Map</label>
        </li>
        <li>
        <input type="number" value="0" id="map_size" name="size_increase" step=".1" min="0">
        <label for="map_size">Additional Area</label>
        </li>
        </ul>
        <input class="button-cta" id="submit" type="submit" value="Refresh" />
    </form>
    <form id="rename" class="search-form">
        <input type="hidden" name="q" id="q" value="{{mountain.name}}, {{mountain.state}}">
        <input id="rename" name="rename" type="search" placeholder="New Resort Name" />
        <input class="button-cta" id="submit" type="submit" value="Rename" />
    </form>
    <form id="change_url" class="search-form">
        <input type="hidden" name="q" id="q" value="{{mountain.name}}, {{mountain.state}}">
        <input id="url" name="url" type="search" placeholder="New Resort URL" />
        <input class="button-cta" id="submit" type="submit" value="Change URL" />
    </form>
    <form id="pass" class="search-form">
        <input type="hidden" name="q" id="q" value="{{mountain.name}}, {{mountain.state}}">
        <input type="hidden" name="update_passes" value="True">
        {% if mountain.season_passes and "Epic" in mountain.season_passes %}
        <input type="checkbox" id="epic" name="epic" value="True" checked>
        {% else %}
        <input type="checkbox" id="epic" name="epic" value="True">
        {% endif %}
        <label for="epic">Epic</label>
        {% if mountain.season_passes and "Ikon" in mountain.season_passes %}
        <input type="checkbox" id="ikon" name="ikon" value="True" checked>
        {% else %}
        <input type="checkbox" id="ikon" name="ikon" value="True">
        {% endif%}
        <label for="ikon">Ikon</label>
        {% if mountain.season_passes and "Mountain Collective" in mountain.season_passes %}
        <input type="checkbox" id="mountain_collective" name="mountain_collective" value="True" checked>
        {% else %}
        <input type="checkbox" id="mountain_collective" name="mountain_collective" value="True">
        {% endif%}
        <label for="mountain_collective">Mountain Collective</label>
        {% if mountain.season_passes and "Indy" in mountain.season_passes %}
        <input type="checkbox" id="indy" name="indy" value="True" checked>
        {% else %}
        <input type="checkbox" id="indy" name="indy" value="True">
        {% endif%}
        <label for="indy">Indy</label><br>
        {% if mountain.season_passes and "Cooper" in mountain.season_passes %}
        <input type="checkbox" id="cooper" name="cooper" value="True" checked>
        {% else %}
        <input type="checkbox" id="cooper" name="cooper" value="True">
        {% endif%}
        <label for="cooper">Cooper</label>
        {% if mountain.season_passes and "Powder Alliance" in mountain.season_passes %}
        <input type="checkbox" id="powder_alliance" name="powder_alliance" value="True" checked>
        {% else %}
        <input type="checkbox" id="powder_alliance" name="powder_alliance" value="True">
        {% endif%}
        <label for="powder_alliance">Powder Alliance</label>
        {% if mountain.season_passes and "Freedom" in mountain.season_passes %}
        <input type="checkbox" id="freedom" name="freedom" value="True" checked>
        {% else %}
        <input type="checkbox" id="freedom" name="freedom" value="True">
        {% endif%}
        <label for="freedom">Freedom</label><br>
        {% if mountain.season_passes and "Power" in mountain.season_passes %}
        <input type="checkbox" id="power" name="power" value="True" checked>
        {% else %}
        <input type="checkbox" id="power" name="power" value="True">
        {% endif%}
        <label for="power">Power</label>
        <input class="button-cta" id="submit" type="submit" value="Update" />
    </form>
    <div id='map'></div>
    <form id="delete_resort" class="search-form">
        <input type="hidden" name="q" id="q" value="{{mountain.name}}, {{mountain.state}}">
        <input id="confirmation" name="delete_resort" type="search" placeholder="Type 'DELETE' to confirm" />
        <input class="button-cta" id="submit" type="submit" value="Delete Resort" />
    </form>
    <script>
        let trails = {{geojson}}

        var mouseOver = true;
        if (Object.keys(trails.features).length > 200) {
            mouseOver = false;
        }

        var map = L.map('map', {
            rotate: true,
            rotateControl: {
                closeOnZeroBearing: false,
            },
            touchRotate: false,
            bearing: {{mountain.bearing}},
            almostOnMouseMove: mouseOver,
        }).setView([{{mountain.lat}},{{mountain.lon}}], 13);

        run_map(trails, map);
    </script>
{% endblock insideContent %}

{% block postbody %}
<script src="/management-edit-resort.js"></script>
{% endblock postbody %}