{% extends "page_base.jinja" %}

{% block title %}
{{mountain.name}} - Trail Map
{% endblock title %}

{% block pagehead %}
<link href="/map.css" rel="stylesheet" />
<link href="/map_shared.css" rel="stylesheet" />
{% endblock pagehead %}

{% block content %}

<main>
    <a href="javascript:void(0);" class="button-cta2 map-button" id="hideButton">
        <img alt="Mountain Details" height="17" width="17" src="/icons/mountain_black.png">
        &nbsp;Details&nbsp;
        <img alt="Mountain Details" height="17" width="17" src="/hamburger-menu-light.svg">
    </a>
    <div class="map-pane mountain-details" id="mountain-details">
        <div class="mountain-title">
            <h1>{{mountain.name}}</h1>
            <span class="mountain-location">{{mountain.state.value}}</span>
        </div>
        <div class="mountain-section">
            <h2>Overview</h2>
            <ul>
                {% if mountain.season_passes %}
                <li>Passes:</li>
                {% for season_pass in mountain.season_passes %}
                <li><img alt="{{season_pass.value}}" src="/icons/{{season_pass.value}}.png" class="pass-icon"/>{{season_pass.value}}</li>
                {% endfor %}
                {% endif %}
                <li>Trail Count: {{mountain.trail_count()}}</li>
                <li>Lift Count: {{mountain.lift_count()}}</li>
                <li>Vertical: {{mountain.vertical_feet()}} ft</li>
                <li>Difficulty: {{mountain.difficulty}}<span class="icon difficulty-{{ trail_color(mountain.difficulty) }}"></span></li>
                <li>Beginner Friendliness: {{mountain.beginner_friendliness}}<span class="icon difficulty-{{ beginner_color(mountain.beginner_friendliness) }}"></span></li>
                <li>Last Updated: {{mountain.last_updated.date()}}</li>
                <li><button class="button-cta2" id="url"><a href="{{mountain.url}}">Visit Website</a></button></li>
            </ul>
        </div>
        <!-- Ezoic - Mountain Info Sidebar - sidebar_middle -->
        <div id="ezoic-pub-ad-placeholder-124"></div>
        <!-- End Ezoic - Mountain Info Sidebar - sidebar_middle -->
        <div class="mountain-section">
            <h2>Trails - Sorted by Difficulty</h2>
            <ul>
                <li><span class="sidebar-badge"><span class="icon gladed"></span></span>Gladed</li>
                <li><span class="sidebar-badge"><span class="icon ungroomed"></span></span>Ungroomed/Moguls</li>
                {% for trail in trails %}
                {% if not '' == trail.name %}
                <li>
                    <span class="sidebar-badge">
                        {{trail.steepest_30m}}°<span class="small-spacer"></span><span class="icon difficulty-{{ trail_color(trail.difficulty) }}"></span>
                    </span>
                    {{trail.name}}
                    {% if trail.gladed %}<span class="icon gladed"></span>{% endif %}
                    {% if trail.ungroomed %}<span class="icon ungroomed"></span>{% endif %}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <!-- Ezoic - Mountain Info Sidebar - sidebar_middle -->
        <div id="ezoic-pub-ad-placeholder-125"></div>
        <!-- End Ezoic - Mountain Info Sidebar - sidebar_middle -->
        <div class="mountain-section">
            <h2>Lifts</h2>
            <ul>
                {% for lift in lifts %}
                {% if not '' == lift.name %}
                <li>
                    <span class="sidebar-badge">
                        {% if lift.occupancy %}
                        {% if lift.occupancy <= 2 %}
                        {% for i in range(lift.occupancy) %}<span class="icon person"></span>{% endfor %}
                        {% else %}
                        {{lift.occupancy}}<span class="small-spacer"></span><span class="icon person"></span>
                        {% endif %}
                        {% endif %}
                    </span>
                    {{lift.name}} - {{lift.length_feet()}} ft
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <!-- Ezoic - Mountain Info Sidebar - sidebar_middle -->
        <div id="ezoic-pub-ad-placeholder-126"></div>
        <!-- End Ezoic - Mountain Info Sidebar - sidebar_middle -->
    </div>

    <div id="zoom">
        <img alt="{{mountain.name}} - {{mountain.state.value}}" src="/maps/{{mountain.state.value}}/{{mountain.name}}.svg" id="map" />
    </div>
    <div class="zoom-buttons">
        <button class="button-cta2 zoom-button" id="zoom_out">-</button>
        <button class="button-cta2 zoom-button" id="zoom_in">+</button>
        <button class="button-cta2 zoom-button" id="zoom_reset">Reset</button>
    </div>
    <div class="map-switch">
        <button class="button-cta2 map-button" id="interactive"><a href="/interactive-map/{{mountain.state.value}}/{{mountain.name}}">Interactive Map</a></button>
    </div>
    <script>
        document.getElementById("hideButton").addEventListener("click", function() {
            var x = document.getElementById("mountain-details");
            if (x.checkVisibility()) {
                x.style.display = "none";
            } else {
                x.style.display = "block";
                
            }
        });

        ezstandalone.cmd.push(function () {
            ezstandalone.showAds(124, 125, 126);
        });
    </script>


    {#
    TODO: when trail selection is implemented, add selected pane, selected tool
    tip, and hover tooltip
    #}
</main>
{% endblock content %}

{% block postbody %}
{#<script src="/panzoom.js"></script>#}
<script src="https://unpkg.com/@panzoom/panzoom@4.5.1/dist/panzoom.min.js"></script>
<script src="/map.js"></script>
{% endblock postbody %}
