{% extends "page_base.jinja" %}

{% block title %}
{{mountain.name}} - Trail Map
{% endblock title %}

{% block pagehead %}
<link href="/map.css" rel="stylesheet" />
{% endblock pagehead %}

{% block content %}

<main>
    <div class="map-pane mountain-details">
        <div class="mountain-title">
            <h1>{{mountain.name}}</h1>
            <span class="mountain-location">{{mountain.state}}</span>
        </div>
        <div class="mountain-section">
            <h2>Overview</h2>
            <ul>
                <li>Trail Count: {{mountain.trail_count}}</li>
                <li>Lift Count: {{mountain.lift_count}}</li>
                <li>Vertical: {{mountain.vertical}} ft</li>
                <li>Difficulty: {{mountain.difficulty}}</li>
                <li>Beginner Friendliness: {{mountain.beginner_friendliness}}</li>
            </ul>
        </div>
        <div class="mountain-section">
            <h2>Trails - Sorted by Difficulty</h2>
            <ul>
                <li><span class="icon gladed"></span>Gladed</li>
                <li><span>&nbsp;&nbsp;</span><span class="icon ungroomed"></span>Ungroomed/Moguls</li>
                {% for trail in trails %}
                {% if not '' == trail.name %}
                <li>
                    {% if trail.difficulty < 18 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.difficulty < 27 %} <span class="icon difficulty-blue"></span>
                            {% else %}
                            {% if trail.difficulty < 36 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.difficulty < 47 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-yellow"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_30m}}° - {{trail.name}}
                                    {% if trail.gladed == True %}
                                    <span> </span><span class="icon gladed"></span>
                                    {% endif %}
                                    {% if trail.ungroomed == True %}
                                    <span>&nbsp;&nbsp;</span><span class="icon ungroomed"></span>
                                    {% endif %}
                </li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="mountain-section">
            <h2>Lifts</h2>
            <ul>
                {% for lift in lifts %}
                {% if not '' == lift.name %}
                <li>{{lift.name}} - {{lift.length}} ft</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>

    <div id="zoom">
        <img alt="{{mountain.name}} - {{mountain.state}}" src="/maps/{{mountain.state}}/{{mountain.name}}.svg" id="map" />
    </div>
    <div class="zoom-buttons">
        <button class="zoom-button" id="zoom_out">-</button>
        <button class="zoom-button" id="zoom_in">+</button>
        <button class="zoom-button" id="zoom_reset">Reset</button>
    </div>


    {#
    TODO: when trail selection is implemented, add selected pane, selected tool
    tip, and hover tooltip
    #}
</main>
{% endblock content %}

{% block postbody %}
{#<script src="/panzoom.js"></script>#}
<script src="https://unpkg.com/@panzoom/panzoom@4.5.1/dist/panzoom.min.js"></script>
<script src="/map.js"></script>
{% endblock postbody %}