{% extends "page_base.jinja" %}

{% block title %}
Privacy Policy
{% endblock title %}

{% block pagehead %}
<link href="/index.css" rel="stylesheet" />
{% endblock pagehead %}

{% block content %}
<section id="content">
    <span id="ezoic-privacy-policy-embed"></span>
</section>
{% endblock content %}
