{% extends "page_base.jinja" %}

{% block title %}
Trail Rankings
{% endblock title %}

{% block pagehead %}
<link href="/trail_rankings.css" rel="stylesheet" />
{% endblock pagehead %}

{% block content %}
<section id="content">

    <h1>Trail Rankings</h1>

    <p class="detail">
        The trails can be filtered by their region within the US, and sorted by the length of the steepest pitch.
        Keep in mind that trail difficulties are calculated using the 30 meter pitch value, as well as other factors
        not shown here.
    </p>

    <ul class="ranking-sort">
        {% if region == "usa" %}
        <li><a class="button-cta">USA</a></li>
        <li><a class="button-cta2" href="/trail-rankings?region=northeast">Northeast</a>
        </li>
        <li><a class="button-cta2" href="/trail-rankings?region=southeast">Southeast</a>
        </li>
        <li><a class="button-cta2" href="/trail-rankings?region=midwest">Midwest</a>
        </li>
        <li><a class="button-cta2" href="/trail-rankings?region=west">West</a>
        </li>
        {% endif %}
        {% if region == "northeast" %}
        <li><a class="button-cta2" href="/trail-rankings?region=usa">USA</a>
        </li>
        <li><a class="button-cta">Northeast</a></li>
        <li><a class="button-cta2" href="/trail-rankings?region=southeast">Southeast</a>
        </li>
        <li><a class="button-cta2" href="/trail-rankings?region=midwest">Midwest</a>
        </li>
        <li><a class="button-cta2" href="/trail-rankings?region=west">West</a>
        </li>
        {% endif %}
        {% if region == "southeast" %}
        <li><a class="button-cta2" href="/trail-rankings?region=usa">USA</a>
        </li>
        <li><a class="button-cta2" href="/trail-rankings?region=northeast">Northeast</a>
        </li>
        <li><a class="button-cta">Southeast</a></li>
        <li><a class="button-cta2" href="/trail-rankings?region=midwest">Midwest</a>
        </li>
        <li><a class="button-cta2" href="/trail-rankings?region=west">West</a>
        </li>
        {% endif %}
        {% if region == "midwest" %}
        <li><a class="button-cta2" href="/trail-rankings?region=usa">USA</a>
        </li>
        <li><a class="button-cta2" href="/trail-rankings?region=northeast">Northeast</a>
        </li>
        <li><a class="button-cta2" href="/trail-rankings?region=southeast">Southeast</a>
        </li>
        <li><a class="button-cta">Midwest</a></li>
        <li><a class="button-cta2" href="/trail-rankings?region=west">West</a>
        </li>
        {% endif %}
        {% if region == "west" %}
        <li><a class="button-cta2" href="/trail-rankings?region=usa">USA</a>
        </li>
        <li><a class="button-cta2" href="/trail-rankings?region=northeast">Northeast</a>
        </li>
        <li><a class="button-cta2" href="/trail-rankings?region=southeast">Southeast</a>
        </li>
        <li><a class="button-cta2" href="/trail-rankings?region=midwest">Midwest</a>
        </li>
        <li><a class="button-cta">West</a></li>
        {% endif %}
    </ul>
    <ul class="ranking-sort mobile">
        {% if sort_by == "steepest_30m"%}
        <li><a class="button-cta">30m Pitch</a></li>
        {% else %}
        <li><a class="button-cta2" href="{{pages.first}}&sort=steepest_30m">30m Pitch</a></li>
        {% endif %}
        {% if sort_by == "steepest_50m"%}
        <li><a class="button-cta">50m Pitch</a></li>
        {% else %}
        <li><a class="button-cta2" href="{{pages.first}}&sort=steepest_50m">50m Pitch</a></li>
        {% endif %}
        {% if sort_by == "steepest_100m"%}
        <li><a class="button-cta">100m Pitch</a></li>
        {% else %}
        <li><a class="button-cta2" href="{{pages.first}}&sort=steepest_100m">100m Pitch</a></li>
        {% endif %}
        {% if sort_by == "steepest_200m"%}
        <li><a class="button-cta">200m Pitch</a></li>
        {% else %}
        <li><a class="button-cta2" href="{{pages.first}}&sort=steepest_200m">200m Pitch</a></li>
        {% endif %}
        {% if sort_by == "steepest_500m"%}
        <li><a class="button-cta">500m Pitch</a></li>
        {% else %}
        <li><a class="button-cta2" href="{{pages.first}}&sort=steepest_500m">500m Pitch</a></li>
        {% endif %}
        {% if sort_by == "steepest_1000m"%}
        <li><a class="button-cta">1000m Pitch</a></li>
        {% else %}
        <li><a class="button-cta2" href="{{pages.first}}&sort=steepest_1000m">1000m Pitch</a></li>
        {% endif %}
    </ul>

    <div class="legend">
        <ul>
            <li><span class="icon difficulty-green"></span>Beginner</li>
            <li><span class="icon difficulty-blue"></span>Intermediate</li>
            <li><span class="icon difficulty-black"></span>Advanced</li>
            <li><span class="icon difficulty-red"></span>Expert</li>
            <li><span class="icon difficulty-yellow"></span>Extreme</li>
            <li><span class="icon gladed"></span>Gladed</li>
        </ul>
    </div>

    <div class="links">
        {% if 'prev' in pages %}
        <a href="{{pages.prev}}">← Previous Page</a>
        <span style="width: 50px;"></span>
        {% endif %}

        {% if 'next' in pages %}
        <a href="{{pages.next}}">Next Page →</a>
        {% endif %}
    </div>

    <div class="trail-table desktop">
        <table>
            <tr>
                <th>Trail Name</th>
                <th>Resort</th>
                <th>State</th>
                {% if sort_by == "steepest_30m"%}
                <th><a class="active">30m Pitch</a></th>
                {% else %}
                <th><a href="{{pages.first}}&sort=steepest_30m">30m Pitch</a></th>
                {% endif %}
                {% if sort_by == "steepest_50m"%}
                <th><a class="active">50m Pitch</a></th>
                {% else %}
                <th><a href="{{pages.first}}&sort=steepest_50m">50m Pitch</a></th>
                {% endif %}
                {% if sort_by == "steepest_100m"%}
                <th><a class="active">100m Pitch</a></th>
                {% else %}
                <th><a href="{{pages.first}}&sort=steepest_100m">100m Pitch</a></th>
                {% endif %}
                {% if sort_by == "steepest_200m"%}
                <th><a class="active">200m Pitch</a></th>
                {% else %}
                <th><a href="{{pages.first}}&sort=steepest_200m">200m Pitch</a></th>
                {% endif %}
                {% if sort_by == "steepest_500m"%}
                <th><a class="active">500m Pitch</a></th>
                {% else %}
                <th><a href="{{pages.first}}&sort=steepest_500m">500m Pitch</a></th>
                {% endif %}
                {% if sort_by == "steepest_1000m"%}
                <th><a class="active">1000m Pitch</a></th>
                {% else %}
                <th><a href="{{pages.first}}&sort=steepest_1000m">1000m Pitch</a></th>
                {% endif %}
            </tr>
            {% for trail in trails %}
            {% if not '' == trail.name %}
            <tr>
                <td>
                    <p>{{pages.offset + loop.index}}. <a href="/map/{{trail.state}}/{{trail.resort_name}}">
                            {{trail.name}}
                            {% if trail.gladed == True %}
                            <span class="icon gladed"></span>
                            {% endif %}
                        </a></p>
                </td>
                <td><a href="/map/{{trail.state}}/{{trail.resort_name}}">{{trail.resort_name}}</a></td>
                <td>{{trail.state}}</td>
                <td>
                    {% if trail.steepest_30m < 16 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_30m < 24 %} <span class="icon difficulty-blue"></span>
                            {% else %}
                            {% if trail.steepest_30m < 32 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_30m < 45 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-yellow"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_30m}}°
                </td>
                <td>
                    {% if trail.steepest_50m != None %}
                    {% if trail.steepest_50m < 16 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_50m < 24 %} <span class="icon difficulty-blue"></span>
                            {% else %}
                            {% if trail.steepest_50m < 32 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_50m < 45 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-yellow"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_50m}}°
                                    {% else %}
                                    --
                                    {% endif %}
                </td>
                <td>
                    {% if trail.steepest_100m != None %}
                    {% if trail.steepest_100m < 16 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_100m < 24 %} <span class="icon difficulty-blue"></span>
                            {% else %}
                            {% if trail.steepest_100m < 32 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_100m < 45 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-yellow"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_100m}}°
                                    {% else %}
                                    --
                                    {% endif %}
                </td>
                <td>
                    {% if trail.steepest_200m != None %}
                    {% if trail.steepest_200m < 16 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_200m < 24 %} <span class="icon difficulty-blue"></span>
                            {% else %}
                            {% if trail.steepest_200m < 32 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_200m < 45 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-yellow"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_200m}}°
                                    {% else %}
                                    --
                                    {% endif %}
                </td>
                <td>
                    {% if trail.steepest_500m != None %}
                    {% if trail.steepest_500m < 16 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_500m < 24 %} <span class="icon difficulty-blue"></span>
                            {% else %}
                            {% if trail.steepest_500m < 32 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_500m < 45 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-yellow"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_500m}}°
                                    {% else %}
                                    --
                                    {% endif %}
                </td>
                <td>
                    {% if trail.steepest_1000m != None %}
                    {% if trail.steepest_1000m < 16 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_1000m < 24 %} <span class="icon difficulty-blue"></span>
                            {% else %}
                            {% if trail.steepest_1000m < 32 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_1000m < 45 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-yellow"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_1000m}}°
                                    {% else %}
                                    --
                                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}

        </table>
    </div>

    <div class="trail-table mobile">
        {% for trail in trails %}
        {% if not '' == trail.name %}
        <div class="header">
            <table class="header">
                <tr>
                    <td>
                        <p>{{pages.offset + loop.index}}. <a href="/map/{{trail.state}}/{{trail.resort_name}}">
                                {{trail.name}}, {{trail.resort_name}} ({{trail.state}})
                                {% if trail.gladed == True %}
                                <span class="icon gladed"></span>
                                {% endif %}
                            </a></p>
                    </td>
                </tr>
            </table>
        </div>
        <table>
            <tr>
                <td>30m Pitch</td>
                <td>
                    {% if trail.steepest_30m < 16 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_30m < 24 %} <span class="icon difficulty-blue"></span>
                            {% else %}
                            {% if trail.steepest_30m < 32 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_30m < 45 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-yellow"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_30m}}°
                </td>
            </tr>
            <tr>
                <td>50m Pitch</td>
                <td>
                    {% if trail.steepest_50m != None %}
                    {% if trail.steepest_50m < 16 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_50m < 24 %} <span class="icon difficulty-blue"></span>
                            {% else %}
                            {% if trail.steepest_50m < 32 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_50m < 45 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-yellow"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_50m}}°
                                    {% else %}
                                    --
                                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>100m Pitch</td>
                <td>
                    {% if trail.steepest_100m != None %}
                    {% if trail.steepest_100m < 16 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_100m < 24 %} <span class="icon difficulty-blue"></span>
                            {% else %}
                            {% if trail.steepest_100m < 32 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_100m < 45 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-yellow"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_100m}}°
                                    {% else %}
                                    --
                                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>200m Pitch</td>
                <td>
                    {% if trail.steepest_200m != None %}
                    {% if trail.steepest_200m < 16 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_200m < 24 %} <span class="icon difficulty-blue"></span>
                            {% else %}
                            {% if trail.steepest_200m < 32 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_200m < 45 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-yellow"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_200m}}°
                                    {% else %}
                                    --
                                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>500m Pitch</td>
                <td>
                    {% if trail.steepest_500m != None %}
                    {% if trail.steepest_500m < 16 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_500m < 24 %} <span class="icon difficulty-blue"></span>
                            {% else %}
                            {% if trail.steepest_500m < 32 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_500m < 45 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-yellow"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_500m}}°
                                    {% else %}
                                    --
                                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>1000m Pitch</td>
                <td>
                    {% if trail.steepest_1000m != None %}
                    {% if trail.steepest_1000m < 16 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_1000m < 24 %} <span class="icon difficulty-blue"></span>
                            {% else %}
                            {% if trail.steepest_1000m < 32 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_1000m < 45 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-yellow"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_1000m}}°
                                    {% else %}
                                    --
                                    {% endif %}
                </td>
            </tr>
        </table>
        {% endif %}
        {% endfor %}
    </div>

    <div class="links">
        {% if 'prev' in pages %}
        <a href="{{pages.prev}}">← Previous Page</a>
        <span style="width: 50px;"></span>
        {% endif %}

        {% if 'next' in pages %}
        <a href="{{pages.next}}">Next Page →</a>
        {% endif %}
    </div>
</section>
{% endblock content %}