{% extends "page_base.jinja" %}

{% block title %}
Trail Rankings - Find the Hardest Trails in the USA
{% endblock title %}

{% block pagehead %}
<link href="/trail_rankings.css" rel="stylesheet" />
{% endblock pagehead %}

{% block content %}
<section id="content">

    <h1>Trail Rankings</h1>

    <ul class="ranking-sort">
        {% set regions = ["usa", "northeast", "southeast", "midwest", "west"] %}
        {% for r in regions %}
            <li>
                {% if r == region and state == None %}
                    <a class="button-cta">{{ r|capitalize }}</a>
                {% else %}
                    <a class="button-cta2"
                    href="/trail-rankings?region={{ r }}&sort={{ sort_by }}">
                        {{ r|capitalize }}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>

    <form id="search-form" class="search-form" action="/trail-rankings" method="get">
        <select id="state" name="state" required>
            <option value="" disabled {% if not state %}selected{% endif %}>Select State</option>
            {% set states = {
                "AL":"Alabama", "AK":"Alaska", "AZ":"Arizona", "AR":"Arkansas", "CA":"California",
                "CO":"Colorado", "CT":"Connecticut", "DE":"Delaware", "FL":"Florida", "GA":"Georgia",
                "HI":"Hawaii", "ID":"Idaho", "IL":"Illinois", "IN":"Indiana", "IA":"Iowa",
                "KS":"Kansas", "KY":"Kentucky", "LA":"Louisiana", "ME":"Maine", "MD":"Maryland",
                "MA":"Massachusetts", "MI":"Michigan", "MN":"Minnesota", "MS":"Mississippi", "MO":"Missouri",
                "MT":"Montana", "NE":"Nebraska", "NV":"Nevada", "NH":"New Hampshire", "NJ":"New Jersey",
                "NM":"New Mexico", "NY":"New York", "NC":"North Carolina", "ND":"North Dakota", "OH":"Ohio",
                "OK":"Oklahoma", "OR":"Oregon", "PA":"Pennsylvania", "RI":"Rhode Island", "SC":"South Carolina",
                "SD":"South Dakota", "TN":"Tennessee", "TX":"Texas", "UT":"Utah", "VT":"Vermont",
                "VA":"Virginia", "WA":"Washington", "WV":"West Virginia", "WI":"Wisconsin", "WY":"Wyoming"
            } %}
            {% for code, name in states.items() %}
                <option value="{{ code }}" {% if state == code %}selected{% endif %}>{{ name }}</option>
            {% endfor %}
        </select>

        <input type="hidden" name="sort" value="{{ sort_by }}">
        <input class="button-cta" id="submit" type="submit" value="Select" />
    </form>

    <ul class="ranking-sort mobile">
        {% set sorts = {
            "difficulty": "Difficulty",
            "steepest_30m": "30m Pitch",
            "steepest_50m": "50m Pitch",
            "steepest_100m": "100m Pitch",
            "steepest_200m": "200m Pitch",
            "steepest_500m": "500m Pitch",
            "steepest_1000m": "1000m Pitch"
        } %}

        {% for key, label in sorts.items() %}
            <li>
                {% if sort_by == key %}
                    <a class="button-cta">{{ label }}</a>
                {% else %}
                    <a class="button-cta2"
                    href="{{ pages.first }}&sort={{ key }}{% if state %}&state={{ state }}{% endif %}">
                        {{ label }}
                    </a>
                {% endif %}
            </li>
        {% endfor %}
    </ul>


    <p class="detail">
        The trails can be filtered by their region within the US, and sorted by the length of the steepest pitch.
        Keep in mind that trail difficulties are calculated using the 30 meter pitch value, as well as other factors
        not shown here.
    </p>

    <div class="legend">
        <ul>
            <li><span class="icon difficulty-green"></span>Beginner</li>
            <li><span class="icon difficulty-royalblue"></span>Intermediate</li>
            <li><span class="icon difficulty-black"></span>Advanced</li>
            <li><span class="icon difficulty-red"></span>Expert</li>
            <li><span class="icon difficulty-gold"></span>Extreme</li>
            <li><span class="icon gladed"></span>Gladed</li>
            <li><span class="icon ungroomed"></span>Ungroomed</li>
        </ul>
    </div>

    <div id="ezoic-pub-ad-placeholder-102"></div>

    <div class="links">
        {% if 'prev' in pages %}
        <div class="column-left">
            <a class="button-cta2" href="{{pages.prev}}">&#x25C0; Previous Page</a>
        </div>
        {% endif %}

        {% if 'next' in pages %}
        <div class="column-right">
            <a class="button-cta2" href="{{pages.next}}">Next Page &#x25B6;</a>
        </div>
        {% endif %}
    </div>

    <div class="trail-table desktop">
        <table>
            <tr>
                <th>Trail Name</th>
                <th>Resort</th>
                <th>State</th>
                {% if sort_by == "difficulty"%}
                <th><a class="active">Difficulty</a></th>
                {% else %}
                <th><a href="{{pages.first}}&sort=difficulty">Difficulty</a></th>
                {% endif %}
                {% if sort_by == "steepest_30m"%}
                <th><a class="active">30m Pitch</a></th>
                {% else %}
                <th><a href="{{pages.first}}&sort=steepest_30m">30m Pitch</a></th>
                {% endif %}
                {% if sort_by == "steepest_50m"%}
                <th><a class="active">50m Pitch</a></th>
                {% else %}
                <th><a href="{{pages.first}}&sort=steepest_50m">50m Pitch</a></th>
                {% endif %}
                {% if sort_by == "steepest_100m"%}
                <th><a class="active">100m Pitch</a></th>
                {% else %}
                <th><a href="{{pages.first}}&sort=steepest_100m">100m Pitch</a></th>
                {% endif %}
                {% if sort_by == "steepest_200m"%}
                <th><a class="active">200m Pitch</a></th>
                {% else %}
                <th><a href="{{pages.first}}&sort=steepest_200m">200m Pitch</a></th>
                {% endif %}
                {% if sort_by == "steepest_500m"%}
                <th><a class="active">500m Pitch</a></th>
                {% else %}
                <th><a href="{{pages.first}}&sort=steepest_500m">500m Pitch</a></th>
                {% endif %}
                {% if sort_by == "steepest_1000m"%}
                <th><a class="active">1000m Pitch</a></th>
                {% else %}
                <th><a href="{{pages.first}}&sort=steepest_1000m">1000m Pitch</a></th>
                {% endif %}
            </tr>
            {% for trail in trails %}
            {% if not '' == trail.name %}
            <tr>
                <td>
                    <p>{{pages.offset + loop.index}}. <a href="/interactive-map/{{trail.state}}/{{trail.resort_name}}">
                            {{trail.name}}
                            {% if trail.gladed == True %}
                            <span class="icon gladed"></span>
                            {% endif %}
                            {% if trail.ungroomed == True%}
                            <span class="icon ungroomed"></span>
                            {% endif %}
                        </a></p>
                </td>
                <td><a href="/interactive-map/{{trail.state}}/{{trail.resort_name}}">{{trail.resort_name}}</a></td>
                <td>{{trail.state}}</td>
                <td>
                    {% if trail.difficulty < 18 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.difficulty < 27 %} <span class="icon difficulty-royalblue"></span>
                            {% else %}
                            {% if trail.difficulty < 36 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.difficulty < 47 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-gold"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.difficulty}}
                </td>
                <td>
                    {% if trail.steepest_30m < 18 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_30m < 27 %} <span class="icon difficulty-royalblue"></span>
                            {% else %}
                            {% if trail.steepest_30m < 36 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_30m < 47 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-gold"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_30m}}°
                </td>
                <td>
                    {% if trail.steepest_50m != None %}
                    {% if trail.steepest_50m < 18 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_50m < 27 %} <span class="icon difficulty-royalblue"></span>
                            {% else %}
                            {% if trail.steepest_50m < 36 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_50m < 47 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-gold"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_50m}}°
                                    {% else %}
                                    --
                                    {% endif %}
                </td>
                <td>
                    {% if trail.steepest_100m != None %}
                    {% if trail.steepest_100m < 18 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_100m < 27 %} <span class="icon difficulty-royalblue"></span>
                            {% else %}
                            {% if trail.steepest_100m < 36 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_100m < 47 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-gold"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_100m}}°
                                    {% else %}
                                    --
                                    {% endif %}
                </td>
                <td>
                    {% if trail.steepest_200m != None %}
                    {% if trail.steepest_200m < 18 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_200m < 27 %} <span class="icon difficulty-royalblue"></span>
                            {% else %}
                            {% if trail.steepest_200m < 36 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_200m < 47 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-gold"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_200m}}°
                                    {% else %}
                                    --
                                    {% endif %}
                </td>
                <td>
                    {% if trail.steepest_500m != None %}
                    {% if trail.steepest_500m < 18 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_500m < 27 %} <span class="icon difficulty-royalblue"></span>
                            {% else %}
                            {% if trail.steepest_500m < 36 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_500m < 47 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-gold"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_500m}}°
                                    {% else %}
                                    --
                                    {% endif %}
                </td>
                <td>
                    {% if trail.steepest_1000m != None %}
                    {% if trail.steepest_1000m < 18 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_1000m < 27 %} <span class="icon difficulty-royalblue"></span>
                            {% else %}
                            {% if trail.steepest_1000m < 36 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_1000m < 47 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-gold"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_1000m}}°
                                    {% else %}
                                    --
                                    {% endif %}
                </td>
            </tr>
            {% endif %}
            {% endfor %}

        </table>
    </div>

    <div class="trail-table mobile">
        {% for trail in trails %}
        {% if not '' == trail.name %}
        <div class="header">
            <table class="header">
                <tr>
                    <td>
                        <p>{{pages.offset + loop.index}}. <a href="/interactive-map/{{trail.state}}/{{trail.resort_name}}">
                                {{trail.name}}, {{trail.resort_name}} ({{trail.state}})
                                {% if trail.gladed == True %}
                                <span class="icon gladed"></span>
                                {% endif %}
                                {% if trail.ungroomed == True%}
                                <span class="icon ungroomed"></span>
                                {% endif %}
                            </a></p>
                    </td>
                </tr>
            </table>
        </div>
        <table>
            {% if sort_by == "difficulty"%}
            <tr style="background-color: var(--color-accent-very-light)">
            {% else %}
            <tr>
            {% endif %}
                <td style="width:50%">Difficulty</td>
                <td style="width:50%">
                    {% if trail.difficulty < 18 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.difficulty < 27 %} <span class="icon difficulty-royalblue"></span>
                            {% else %}
                            {% if trail.difficulty < 36 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.difficulty < 47 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-gold"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.difficulty}}
                </td>
            </tr>
            {% if sort_by == "steepest_30m"%}
            <tr style="background-color: var(--color-accent-very-light)">
            {% else %}
            <tr>
            {% endif %}
                <td>30m Pitch</td>
                <td>
                    {% if trail.steepest_30m < 18 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_30m < 27 %} <span class="icon difficulty-royalblue"></span>
                            {% else %}
                            {% if trail.steepest_30m < 36 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_30m < 47 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-gold"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_30m}}°
                </td>
            </tr>
            {% if sort_by == "steepest_50m"%}
            <tr style="background-color: var(--color-accent-very-light)">
            {% else %}
            <tr>
            {% endif %}
                <td>50m Pitch</td>
                <td>
                    {% if trail.steepest_50m != None %}
                    {% if trail.steepest_50m < 18 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_50m < 27 %} <span class="icon difficulty-royalblue"></span>
                            {% else %}
                            {% if trail.steepest_50m < 36 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_50m < 47 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-gold"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_50m}}°
                                    {% else %}
                                    --
                                    {% endif %}
                </td>
            </tr>
            {% if sort_by == "steepest_100m"%}
            <tr style="background-color: var(--color-accent-very-light)">
            {% else %}
            <tr>
            {% endif %}
                <td>100m Pitch</td>
                <td>
                    {% if trail.steepest_100m != None %}
                    {% if trail.steepest_100m < 18 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_100m < 27 %} <span class="icon difficulty-royalblue"></span>
                            {% else %}
                            {% if trail.steepest_100m < 36 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_100m < 47 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-gold"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_100m}}°
                                    {% else %}
                                    --
                                    {% endif %}
                </td>
            </tr>
            {% if sort_by == "steepest_200m"%}
            <tr style="background-color: var(--color-accent-very-light)">
            {% else %}
            <tr>
            {% endif %}
                <td>200m Pitch</td>
                <td>
                    {% if trail.steepest_200m != None %}
                    {% if trail.steepest_200m < 18 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_200m < 27 %} <span class="icon difficulty-royalblue"></span>
                            {% else %}
                            {% if trail.steepest_200m < 36 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_200m < 47 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-gold"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_200m}}°
                                    {% else %}
                                    --
                                    {% endif %}
                </td>
            </tr>
            {% if sort_by == "steepest_500m"%}
            <tr style="background-color: var(--color-accent-very-light)">
            {% else %}
            <tr>
            {% endif %}
                <td>500m Pitch</td>
                <td>
                    {% if trail.steepest_500m != None %}
                    {% if trail.steepest_500m < 18 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_500m < 27 %} <span class="icon difficulty-royalblue"></span>
                            {% else %}
                            {% if trail.steepest_500m < 36 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_500m < 47 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-gold"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_500m}}°
                                    {% else %}
                                    --
                                    {% endif %}
                </td>
            </tr>
            {% if sort_by == "steepest_1000m"%}
            <tr style="background-color: var(--color-accent-very-light)">
            {% else %}
            <tr>
            {% endif %}
                <td>1000m Pitch</td>
                <td>
                    {% if trail.steepest_1000m != None %}
                    {% if trail.steepest_1000m < 18 %} <span class="icon difficulty-green"></span>
                        {% else %}
                        {% if trail.steepest_1000m < 27 %} <span class="icon difficulty-royalblue"></span>
                            {% else %}
                            {% if trail.steepest_1000m < 36 %} <span class="icon difficulty-black"></span>
                                {% else %}
                                {% if trail.steepest_1000m < 47 %} <span class="icon difficulty-red"></span>
                                    {% else %}
                                    <span class="icon difficulty-gold"></span>
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {% endif %}
                                    {{trail.steepest_1000m}}°
                                    {% else %}
                                    --
                                    {% endif %}
                </td>
            </tr>
        </table>
        {% endif %}
        {% endfor %}
    </div>

    <div class="links">
        {% if 'prev' in pages %}
        <div class="column-left">
            <a class="button-cta2" href="{{pages.prev}}">&#x25C0; Previous Page</a>
        </div>
        {% endif %}

        {% if 'next' in pages %}
        <div class="column-right">
            <a class="button-cta2" href="{{pages.next}}">Next Page &#x25B6;</a>
        </div>
        {% endif %}
    </div>
    <div id="ezoic-pub-ad-placeholder-101"></div>
    <script>
        ezstandalone.cmd.push(function () {
            ezstandalone.showAds(101, 102);
        });
    </script>

</section>
{% endblock content %}